@{
    ViewData["Title"] = "Excluir";
}
<div class="text-center">
   <h3>Tem certeza de que deseja apagar o contato ()?</h3>

</div>
<a class="btn  btn-primary btn-block" role="button" asp-controller="Produto_1" asp-action="Index">Cancelar </a>
<a class="btn  btn-primary btn-block" role="button" asp-controller="Produto_1" asp-action="Apagar">Confirmar</a>